:root{
    --text-color:#13bde0;
    --btn-text-color:white;
    --btn-background-color:black;
}

.h-100{
    height: 100%;
}

#container{
    height: 100vh;
    background-image: url("../images/bg-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 0px;
}
@media(max-width:768px){
    #container{
        padding: 0px;
    }
}

#main-nav{
    padding-left: 1px;
    padding-right: 1px;
    width: 1260px;
    margin: 0 auto 20px;
    background-color: rgb(48, 45, 45);
    
}
#main-nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#main-nav ul li{
    font-size: 0.863em;
    width: 100%;
    text-align: center;
}
#main-nav ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: rgba(15, 15, 15, 0.9);
}
#main-nav ul li a:hover{
    background-color: rgb(48, 45, 45);
    color: white;
}

@media(max-width: 768px){
    #main-nav{
        position: fixed;
        z-index: 100;
    }
    #main-nav ul li a span{
        display: none;
    }
}
.wrapper{
    background-color: rgba(0, 0, 0, 0.764);
    width: 1260px;
    margin: 0 auto;
    height: calc(100vh - 160px);
    border-radius: 20px;
    position: relative;
    box-shadow:  -12px 10px 18px 1px rgb(0 0 0 / 40%);
}
.wrapper > .row{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* BreakPoints */
/* 
1400px - xxl
1200px - xl
992px - lg
768px - md
576px - sm 
*/

@media(max-width:1400px){
    .wrapper, #main-nav {
        width: 1160px;
    }
}
@media(max-width:1200px){
    .wrapper, #main-nav {
        width: 970px;
    }
}
@media(max-width:992px){
    .wrapper, #main-nav {
        width: 760px;
    }
}
@media(max-width:768px){
    .wrapper, #main-nav {
        width: 100%;
    }
    .wrapper{
        height: 100%;
    }
    .wrapper >.row{
        position: static;
        height: auto;
        width: 100%;
    }
}

.intro{
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.926);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.intro img{
    padding: 0px;
    border-radius: 50%;
}
.intro a{
    color: var(--btn-text-color);
}
.intro ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content:center;
    font-size: 1em;
    color: wheat;
    padding-bottom: 5px;
}
.intro ul i{
  padding-right: 10px;
}

.intro ul.li-flex{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    font-size: larger;
}
@media(max-width: 1200px){
    .intro ul.li-grid{
        font-size: 0.8em;
    }
}
@media(max-width: 992px){
    .intro h2{
        font-size: 2em;
    }
    .intro ul.li-grid{
        font-size: 0.6em;
    }
}
@media(max-width: 768px){
    .intro{
      position: absolute;
      top: 0px;
      width: 100%;
    }
}

.content{
    position: relative;
    overflow-x: hidden;
    perspective: 400px;
}

.content >section{
    overflow-y: auto;
}

@media(max-width:768px){
    .content{
        position: absolute;
        top: 0px;
        width: 100%;
    }
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-duration: 1s;
}

#home h1{
    font-size: 5em;
    color: var(--text-color);
}
#home p{
    font-size: 1.5em;
    color: #ffffffc7;
}
#home img{
    border-radius: 50%;
    display: none;
}

@media(max-width: 768px){
    #home{
      display: none;
    }
}


#education, #skills, #projects, #contact, #publication{
    padding: 50px;
    position: absolute;
    z-index: 10;
    top: 0px;
    background-color:rgba(10, 10, 10, 0.970);
    height: 100%;
    width: 100%;
    color: var(--text-color);
    transition-duration: 1s;
    transform: translateX(-100%) rotateY(180deg);
}

#education h2, #skills h2, #projects h2, #contact h2, #publication h2{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #b4e2ed;
}

#education h4{
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

#education ul.institute{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
#education ul li{
    padding-right: 5px;
    padding-bottom: 10px;
}

#education ul.year-cgpa{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content:space-between;
    font-size: 0.8em;
    font-style: italic;
    color: #13bde0;
}


@media(max-width: 1200px){
    #education ul li{
        font-size: 0.8em;
    }
}

@media(max-width: 768px){
    #education h4{
        font-size: 1em;
        letter-spacing: 0px;
    }
    #education ul li{
        font-size: 0.6em;
    }
}


.timeline-centered {
    position: relative;
    margin-bottom: 30px;
  }
  .timeline-centered.timeline-sm .timeline-entry {
    margin-bottom: 20px !important;
  }
  .timeline-centered.timeline-sm .timeline-entry .timeline-entry-inner .timeline-label {
    background-color: #ffc107e6;
    padding: 1em;
  }
  .timeline-centered:before,
  .timeline-centered:after {
    content: " ";
    display: table;
  }
  .timeline-centered:after {
    clear: both;
  }
  .timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    background: #ffffff;
    left: 50%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
  }
  .timeline-centered .timeline-entry {
    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 70px;
    clear: both;
  }
  .timeline-centered .timeline-entry:before,
  .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
  }
  .timeline-centered .timeline-entry:after {
    clear: both;
  }
  .timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
  }
  .timeline-centered .timeline-entry.left-aligned {
    float: left;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -28px;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -115px;
    text-align: left;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 84px;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -31px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner:before,
  .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -115px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner span{
    font-size: 18px;
    font-weight: bold;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 60px;
    height: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 50%;
    text-align: center;
    border: 7px solid #ffffff;
    line-height: 45px;
    font-size: 15px;
    float: left;
  }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-green {
    background-color: black;
    color: #488c6c;
  }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-orange {
    background-color: black;
    color: #f2994b;
  }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.graduation {
    background-color: black;
    color: #ffc107e6;
  }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: white;
    padding: 1.7em;
    margin-left: 85px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
 
 
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green {
    background: #488c6c;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green:after {
    border-color: transparent #488c6c transparent transparent;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green .timeline-title,
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-green p {
    color: #ffffff;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange {
    background: #e9662c;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange:after {
    border-color: transparent #e9662c transparent transparent;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange .timeline-title,
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-orange p {
    color: #ffffff;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow {
    background: #f2994b;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow:after {
    border-color: transparent #f2994b transparent transparent;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow .timeline-title,
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.bg-yellow p {
    color: #ffffff;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #ffc107e6 transparent transparent;
    left: 0;
    top: 20px;
    margin-left: -8px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-title,
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: white;
    margin: 0;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-title {
    margin-bottom: 10px;
    font-family: 'Oswald';
    font-weight: bold;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p img {
   height: 25px;
   padding-right: 2px;
  }

  @media(max-width: 768px){
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
      margin-left: 70px;
      padding-left: 0.3em;
    }
    .timeline-centered.timeline-sm .timeline-entry .timeline-entry-inner .timeline-label {
      padding-left: 0.3em;
    }  
    .timeline-centered .timeline-entry .timeline-entry-inner {
      margin-left: -49px;
    }
    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
      margin-right: -51px;
    }
    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
      margin-right: 71px;
    }
  }

/* Skills */

.skillset h4{
    color: aquamarine;
}
.skillset ul{
     margin: 0px;
     padding: 0px;
     list-style: none;
     color: wheat;
}

.skillset ul li .bar{
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.skillset ul li span{
    display: block;
    height: inherit;
    width: inherit;
    position: relative;
}
.skillset ul li img{
    height: 40px;
}
.skillset ul li .p-80{
    width: 80%;
}
.skillset ul li .p-75{
    width: 75%;
}
.skillset ul li .p-60{
    width: 60%;
}
.skillset ul li .p-70{
    width: 70%;
}
.skillset ul li .p-90{
    width: 90%;
}
.skillset ul li .p-95{
    width: 90%;
}
.skillset ul li .p-40{
    width: 40%;
}
.skillset ul li .p-50{
    width: 50%;
}

.skillset ul li span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #13bde0;
    animation: progressbar 3s linear;
}

@keyframes progressbar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


/* Projects */
#projects .card{
    color: black;
    margin-bottom: 30px;
    overflow: hidden;
}
#projects .card{
    transition-duration: 0.5s;
}
#projects .card:hover {
    transform: scale(1.1, 1.1);
}

/* Publication */
#publication img{
  margin: 25px;
  height: 18em;
}
#publication .card{
  width: 100%;
  height:100%;
  background-color: black;
}
#publication .card-body{
  color: white;
  height: 100%;
}
#publication a{
  margin-left: 10px;
}
#publication span{
  color: aqua;
  font-style: italic;

}
#publication ul li a{
  margin-left: 0px;
}
#publication ul{
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#publication ul li img{
    height: 60px;
    margin: 0px;
    padding: 0px;
    border-radius: 25px;
}

/* certificate */
#publication .col-sm-6{
  padding-bottom: 15px;
}

#publication .certificate ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: left;
}
#publication .certificate img{
  height: 40px;
  padding-right: 5px;
  border-radius: 50%;
}
#publication .certificate .card-text{
  margin-bottom: 0px;
}

#publication .certificate .issued{
    font-size: small;
    font-style: italic;
    color: #488c6c;
}

/* Contact Us */

#contact span{
  color: red;
  font-size: 1em;
    padding-left: 5px;
}

#home.show,
#education.show,
#skills.show,
#projects.show,
#publication.show,
#contact.show{
    transform: translateX(0%) rotateY(0deg);
}

@media(max-width: 768px){
    #education, #skills, #projects, #contact{
        margin-top: 20px;
    }
}